[Unit]
Description=SkyDNS Global

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill skydns
ExecStartPre=-/usr/bin/docker rm skydns
ExecStart=/usr/bin/docker run \
  --name skydns \
  --net host \
  skynetservices/skydns -addr ${COREOS_PUBLIC_IPV4}:53

ExecStop=/usr/bin/docker rm skydns

[X-Fleet]
Global=true
